@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

html.dark a,
html.dark p,
html.dark h3 {
  color: #d1d5db; /* gray-300 */
}

.wave1 use {
  animation: move-forever1 20s linear infinite;
  animation-delay: -2s;
}

.wave2 use {
  animation: move-forever2 16s linear infinite;
  animation-delay: -2s;
}

.wave3 use {
  animation: move-forever3 12s linear infinite;
  animation-delay: -2s;
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
